<div class="contents row">
  <% @entries.each do |entry| %>
    <div class="content_post">
      <% if entry.photo.attached? %>
        <%= image_tag entry.photo, class: 'message-image' %>
      <% end %>
      <p><%= entry.text %></p>
      <span class="name">
        <%= entry.title %>
      </span>
    </div>
  <% end %>
</div>