<div class="contents row">
  <% @entries.each do |entry| %>
    <div class="content_post" style="background-image: url(<%= entry.photo %>);">
      <p><%= entry.text %></p>
      <span class="name">
        <%= entry.title %>
      </span>
    </div>
  <% end %>
</div>